* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: "Alegreya";
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 767px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

:root {
    --main-color: #afafaf;
    --sec-color: #afafaf;
    --p-color: #fbfbfb;
    --talk-color: #fa66b2;
    --tal-color: #726ae3;
    --tal-colo: #e0c690;
    --colo: #777;
}
/* start header */
header {
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: absolute;
    z-index: 7;
}

header .container {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
nav {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    align-items: center;
}

ul {
    z-index: 3;
}

ul li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

@media (min-width: 767px) {
    .bar {
        display: none;
    }
}

@media (max-width: 767px) {
    ul {
        display: none;
    }

    header nav .bar:hover+ul {
        display: flex;
        flex: 1;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #f7f7f7;
    }

    header nav .bar:hover+ul li a {
        padding: 15px;
    }
}

header ul li a {
    font-size: 15px;
    letter-spacing: 1px;
}


a {
    display: block;
    color: var(--p-color);
    text-decoration: none;
    transition: 0.6s;
}
@media(max-width:787px){
header ul li a{
color: #000;
}
}
header ul li a:hover {
    color: var(--tal-colo);
    padding: 25px 5px;
}
header .logo .big{
    height: 70px;
    padding: 5px;
    }
    @media(min-width:787px){
        header .logo .small{
        display: none;
        }
    }
@media(max-width:787px){
    header .container{
    background-color: #eee;
    }
    header .logo .big{
display: none;
}
header .logo .small{
    height: 60px;
    padding: 10px;
    
    }
        header nav > a{
        font-size: 28px;
        color: #000;
        }
}
/* end header */
.landing {
    min-height: 100vh;
    background-image: linear-gradient(rgb(0 0 0 / 60%), rgba(0, 0, 0, 0.4)), url(imgs/drew-coffman-1872.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
    margin-bottom: 80px;
}
.landing .container{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
flex-direction: column;
}
.landing .container h4 ,.landing .container h3 ,.landing .container h2{
color: #eee;
margin-bottom: 20px;

}
.landing .container h2{
font-size: 65px;
}
@media(max-width:787px){
    .landing{
    min-height: 60vh;
    }
    .landing .container{
    height: 85vh;
    }
    .landing .container h2{
        font-size: 55px;
    }
    .landing .container h3 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 45px;
    }
    .landing .container .delte {
    display: none;
    }

}
.landing .container .btns{
display: flex;
justify-content: center;
align-items: center;
gap: 25px;
}
.landing .container .btns .btn{
height: 50px;
width: 110px;
border-radius: 5px;
font-size: 18px;
display: flex;
justify-content: center;
align-items: center;
color: #eee;
transition: .7s ease;
}
.landing .container .btns .btn.one{
    background-color: #8e7754;
    letter-spacing: .2px;
}
.landing .container .btns .btn.two{
    background-color: transparent;
    border: 2px solid #eee;
}
.landing .container .btns .btn:hover{
color: #000;
background-color: #eeee;
}
/*  */
.first .container{
display: flex;
justify-content: center;
align-items: center;
gap: 70px;
}
@media(max-width:787px){
    .first .container{
    flex-direction: column;
    }
}
.first .container img{
    height:450px;
}
@media(max-width:787px){
    .first .container .smalll{
        height:420px;
    }
}
.first .container .content a{
color: #777;
margin-top: 20px;
margin-bottom: 15px;
font-size: 19px;
}
.first .container .content a p{
display: inline-block;
}
.first .container .content a i{
color: #8e7754;
display: inline-block;
margin: 8px auto;
}
.first .container .content a .icon{
    margin-right: 8px;
text-align: center;
width: 40px;
height: 40px;
background-color: transparent;
border-radius: 50%;
border: 1px solid rgba(0,0,0,.15);
display: inline-block;
}
.first .container .content h3{
    color: #303030;
    font-size: 32px;
    margin-bottom: 30px;
}
.first .container .content P{
    line-height: 1.6;
color: #777;
margin-bottom: 10px;
font-size: 17px;
}
.first.s{
background-color: #f8f8f8;
margin-top: 80px;
}
@media(max-width:787px){
    .first.s .container .bigg{
        height:350px;
    }
}
.third{
margin-bottom: 60px;
}
.third .container{
display:flex;
justify-content:center;
align-items:center;
flex-direction: column;
margin-top: 60px;
}
.third .container .title{
    margin-top: 100px;
margin-bottom: 40px ;
text-align: center;
}
.third .container .title h3{

    color: #303030;
    font-size: 30px;
    margin-bottom: 30px;
}
.third .container .title p{
color: #777;
font-size: 18px;
margin-bottom: 10px;
}
.third .container .cards {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
gap: 30px;
}
@media(max-width:787px){
    .third .container .cards {
    flex-direction: column;
    }
}
.third .container .cards h4{

    color: #303030;
    font-size:25px;
    margin-bottom: 30px;
}
.third .container .cards img{
height: 340px;
margin-bottom: 20px;
}
.third .container .cards p{
    color: #777;
    font-size: 15px;
    line-height: 1.6;
}
footer{
    background: #151515;
    min-height: 150px;
    color: #777;
    text-align: center;
}
footer img{
    padding: 20px;
height: 110px;
}
footer p{
margin-bottom: 15px;
}